force-app/main/default/flows/SFL_Refugees_HouseholdEnrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_ProgEng_ID</name>
        <label>Assign ProgEng ID</label>
        <locationX>1766</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>var_NewProgEngId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_ProgramEngagement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S06_CongratuationsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_AddToCounter</name>
        <label>SET_AddToCounter</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>var_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SET_RelationshipToPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_HHAccount_Name</name>
        <label>SET HHAccount Name</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_HHAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_template_HHAccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_HHAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_HHContact</name>
        <label>SET HHContact</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HHContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HHContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HHContact_Birthday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PAContact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HHMember_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HHMember_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_HHContact.UCI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HHMember_UCI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_HHContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the PA Contact variable based on Screen inputs.</description>
        <name>SET_PA_Contact</name>
        <label>SET_PA_Contact</label>
        <locationX>1502</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PAName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PAName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_CurrentAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_CurrentAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_CurrentAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_CurrentAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_CurrentAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_Email_Home.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.UCI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_UCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PA_Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PAContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_HHAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_PAContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_ProgEng</name>
        <label>SET_ProgEng</label>
        <locationX>1766</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_PAContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.pmdm__Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ProgramLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.pmdm__ProgramCohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ProgramCohortLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.pmdm__ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.pmdm__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.Visa_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VisaOffice_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.Constituent_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConstituentGroupLookup_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.Start_Up_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Up_Costs_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.Monthly_RAP_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_RAP_Rates_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_HHGreaterThan1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SETS the contact record found in the Lookup as the Co-Sponsor on the Program Engagement record.</description>
        <name>SET_ProgEng_CoSponsor_Lookup</name>
        <label>SET_ProgEng_CoSponsor_Lookup</label>
        <locationX>1898</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_CoSponsor.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CoSponsorLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.Refuge_CoSponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CoSponsorLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S05_ProgramEngagement_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the new contact record as the value in the CoSponsor A field on the ProgEng sObj.</description>
        <name>SET_ProgEng_CoSponsor_NewContact</name>
        <label>SET_ProgEng_CoSponsor_NewContact</label>
        <locationX>1106</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.Refuge_CoSponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_CoSponsor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S05_ProgramEngagement_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_ProgEng_Household</name>
        <label>SET_ProgEng_Household</label>
        <locationX>1546</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ProgramEngagement.pmdm__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_HHAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_ProgramEngagememt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_RelationshipToPA</name>
        <label>SET RelationshipToPA</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_RelationshipToPA.npe4__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_PAContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_RelationshipToPA.npe4__RelatedContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_HHContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_RelationshipToPA.npe4__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_picklist_RelationshipType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_RelationshipToPA.npe4__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_RelationshipToPA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>var_MoreHHMembers_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>var_MoreHHMembers_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CHECK_AddHHMembers</name>
        <label>CHECK_AddHHMembers</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>CHECK_AddHHMembers_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_AddMoreHHMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_MoreHHMembers_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PAContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>CHECK_AddHHMembers_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_AddMoreHHMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_MoreHHMembers_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Household_Members_Final</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user click &apos;yes&apos; to create a new record for the Co-Sponsor, and if so, creates new record based on input then assigns to ProgEng, and if not, assigns Contact.ID in Lookup to ProgEng.</description>
        <name>CHECK_CreatedNewCosponsorRecord</name>
        <label>CHECK_CreatedNewCosponsorRecord?</label>
        <locationX>1766</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>CHECK_CreatedNewCosponsorRecord_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varC_CreateNewCoSponsorContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_CoSponsorContact</targetReference>
            </connector>
            <label>Created New Record</label>
        </rules>
        <rules>
            <name>CHECK_CreatedNewCosponsorRecord_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varC_CreateNewCoSponsorContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_Co_Sponsor_Relationship_0</targetReference>
            </connector>
            <label>Found Record, Didn&apos;t Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_HHGreaterThan1</name>
        <label>CHECK_HH Greater Than 1</label>
        <locationX>1766</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>Household_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_ProgEng_Household</targetReference>
            </connector>
            <label>Household is &gt; 1</label>
        </rules>
        <rules>
            <name>Household_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_ProgramEngagememt</targetReference>
            </connector>
            <label>Household = 1</label>
        </rules>
    </decisions>
    <description>Screen Flow to support creating a Household of Contacts and enrolling them in the Refugees Program (PMM).</description>
    <dynamicChoiceSets>
        <name>var_picklist_RelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe4__Type__c</picklistField>
        <picklistObject>npe4__Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>var_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>SFL_Refugees_HouseholdEnrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refugees Program Enrolment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates relationship record between Co-Sponsor and Principal Applicant.</description>
        <name>CREATE_Co_Sponsor_Relationship</name>
        <label>CREATE Co-Sponsor Relationship</label>
        <locationX>1106</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>SET_ProgEng_CoSponsor_NewContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>var_sObj_PAContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>var_sObj_CoSponsor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <elementReference>var_CoSponsorRelationshipToPA</elementReference>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates relationship record between Co-Sponsor and Principal Applicant.</description>
        <name>CREATE_Co_Sponsor_Relationship_0</name>
        <label>CREATE Co-Sponsor Relationship</label>
        <locationX>1898</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>SET_ProgEng_CoSponsor_Lookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>var_sObj_PAContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>var_CoSponsorLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <elementReference>var_RelationshipToPA</elementReference>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Contact record for the CoSponsor</description>
        <name>CREATE_CoSponsorContact</name>
        <label>CREATE Co-Sponsor Contact</label>
        <locationX>1106</locationX>
        <locationY>1718</locationY>
        <assignRecordIdToReference>var_sObj_CoSponsor.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CREATE_Co_Sponsor_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>var_CoSponsorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>var_CoSponsorName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>var_CoSponsorName.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_HHAccount</name>
        <label>CREATE HHAccount</label>
        <locationX>1502</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>SET_PA_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputReference>var_sObj_HHAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_HHContact</name>
        <label>CREATE HHContact</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>SET_AddToCounter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputReference>var_sObj_HHContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_PAContact</name>
        <label>CREATE PA Contact</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>S03_AddAdditionalHouseholdMembers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputReference>var_sObj_PAContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_ProgramEngagememt</name>
        <label>Create Program Engagememt</label>
        <locationX>1766</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Assign_ProgEng_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputReference>var_sObj_ProgramEngagement</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_RelationshipToPA</name>
        <label>CREATE RelationshipToPA</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>S03_AddAdditionalHouseholdMembers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <inputReference>var_sObj_RelationshipToPA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Household_Members</name>
        <label>GET Household Members</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S04_HouseholdMember</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S06_FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_PAContact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Household_Members_Final</name>
        <label>GET Household Members Final</label>
        <locationX>1766</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RelationshipsToPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_sObj_HHAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PAContact</name>
        <label>GET_PAContact</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Household_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_sObj_PAContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RelationshipsToPA</name>
        <label>GET RelationshipsToPA</label>
        <locationX>1766</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S05_ProgramEngagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_sObj_PAContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>S01_Program_Selection</name>
        <label>S01_Program Selection</label>
        <locationX>1502</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>S02_PrincipalApplicant</targetReference>
        </connector>
        <fields>
            <name>varT_WelcomeMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Welcome to the Household Refugees Program Enrolment form!&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; Begin by selecting the Refugees Program and, optionally, a Program Cohort:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>var_ProgramLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>pmdm__Program__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Program</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ProgramEngagement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>var_ProgramCohortLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>pmdm__ProgramCohort__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Program Cohort</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ProgramEngagement__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S02_PrincipalApplicant</name>
        <label>S02_PrincipalApplicant</label>
        <locationX>1502</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SET_HHAccount_Name</targetReference>
        </connector>
        <fields>
            <name>varT_PrincipalApplicant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Principal Applicant&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S02_PrincipalApplicant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S02_PrincipalApplicant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_PAName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>var_PA_Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>var_PA_UCI</name>
                    <dataType>String</dataType>
                    <fieldText>UCI</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>S02_PrincipalApplicant_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S02_PrincipalApplicant_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_PA_Phone_Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>var_PA_Phone_Home</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Home Phone</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S02_PrincipalApplicant_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_PA_Email_Home</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Email</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>var_PA_Email_Alternative</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Alternative Email</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>var_PA_CurrentAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Current Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>As if the user wants to add additional members.</description>
        <name>S03_AddAdditionalHouseholdMembers</name>
        <label>S03_Additional Household Members?</label>
        <locationX>1502</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_AddHHMembers</targetReference>
        </connector>
        <fields>
            <name>ch_AddMoreHHMembers</name>
            <choiceReferences>var_MoreHHMembers_Yes</choiceReferences>
            <choiceReferences>var_MoreHHMembers_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add another Household Member to the Refugee application??</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S04_HouseholdMember</name>
        <label>S04_HouseholdMember</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SET_HHContact</targetReference>
        </connector>
        <fields>
            <name>var_List_HouseholdMembers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Household_Members</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Household Members</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Birthdate,MobilePhone,MailingCountry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:182, Birthdate:128, MobilePhone:159, MailingCountry:212</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>varT_NewHouseholdMemberSection</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Add Household Member&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S04_HouseholdMember_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S04_HouseholdMember_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_HHContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>var_HHContact_Birthday</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>var_HHMember_UCI</name>
                    <dataType>String</dataType>
                    <fieldText>UCI</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>S04_HouseholdMember_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S04_HouseholdMember_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_HHMember_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S04_HouseholdMember_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_HHMember_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>var_RelationshipToPA</name>
            <choiceReferences>var_picklist_RelationshipType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship to Principal Applicant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resides_with_Principal_Applicant</name>
            <dataType>Boolean</dataType>
            <fieldText>Resides with Principal Applicant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_HHMemberAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Resides_with_Principal_Applicant</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Final major screen for entering Refugee Application information proper (to be saved on the Program Engagement record).</description>
        <name>S05_ProgramEngagement</name>
        <label>S05_ProgramEngagement</label>
        <locationX>1766</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>S08_CoSponsor</targetReference>
        </connector>
        <fields>
            <name>varT_ReviewHousehold</name>
            <fieldText>&lt;p&gt;Review the Household Members&apos; information prior to proceeding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>var_table_HHMembersFinal</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>FirstName,LastName,Birthdate,MobilePhone,Email,MailingCountry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Household Members</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Household_Members_Final</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>FirstName:148, LastName:148, Birthdate:148, MobilePhone:148, Email:148, MailingCountry:148</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>var_table_RelationshipsToPA</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>npe4__Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>npe4__Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_RelationshipsToPA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Relationships to Principal Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:asset_relationship</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>npe4__RelatedContact__c,npe4__Type__c,npe4__Relationship_Explanation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>npe4__RelatedContact__c:297, npe4__Type__c:297, npe4__Relationship_Explanation__c:297</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Counter</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Final major screen for entering Refugee Application information proper (to be saved on the Program Engagement record).</description>
        <name>S05_ProgramEngagement_0</name>
        <label>S05_ProgramEngagement</label>
        <locationX>1766</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SET_ProgEng</targetReference>
        </connector>
        <fields>
            <name>VisaOffice_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ProgramEngagement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Visa_Office__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Visa Office</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConstituentGroupLookup_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ProgramEngagement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Constituent_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Constituent Group</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>varT_FinancialSupport1_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Financial Support&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Up_Costs_0</name>
            <dataType>Currency</dataType>
            <fieldText>Start Up Costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_RAP_Rates_0</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly RAP Rates</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Congratulations - you&apos;ve enrolled a new family in the Refugees Program!</description>
        <name>S06_CongratuationsScreen</name>
        <label>S06_Final Confirmation Screen</label>
        <locationX>1766</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>varT_CongratulationsText</name>
            <fieldText>&lt;p&gt;Congratulations - you&apos;ve enrolled a new family in the Refugees Program!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Principal Applicant: &lt;b&gt;{!var_sObj_PAContact.FirstName} &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_sObj_PAContact.LastName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Household: &lt;b&gt;{!var_sObj_HHAccount.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Number of Household Members: &lt;b&gt;{!var_Counter}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!var_NewProgEngId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to visit their Program Engagement record!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S06_FaultScreen</name>
        <label>Fault Screen</label>
        <locationX>2690</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>varT_ErrorMessage</name>
            <fieldText>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S08_CoSponsor</name>
        <label>S08_CoSponsor</label>
        <locationX>1766</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_CreatedNewCosponsorRecord</targetReference>
        </connector>
        <fields>
            <name>varT_CoSponsor</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Sponsorship&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>var_CoSponsorLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Refuge_CoSponsor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Co-Sponsor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ProgramEngagement__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varC_CreateNewCoSponsorContact</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varC_CreateNewCoSponsorContact</name>
            <dataType>Boolean</dataType>
            <fieldText>I need to create a new Co-Sponsor record.</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If when searching for the Co-Sponsor&apos;s contact record you are unable to find it, check this box to create a new contact record for the Co-Sponsor.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_CoSponsorLookup.recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>var_CoSponsorName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>var_sObj_CoSponsor.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>var_sObj_CoSponsor.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varC_CreateNewCoSponsorContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>var_CoSponsorEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varC_CreateNewCoSponsorContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>var_CoSponsorRelationshipToPA</name>
            <choiceReferences>var_picklist_RelationshipType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship to Principal Applicant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S01_Program_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varT_template_HHAccountName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!var_PAName.lastName} ({!var_PAName.firstName}) Household</text>
    </textTemplates>
    <variables>
        <name>var_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Saves the new Program Engagement ID, for creation of the hyperlink in the final Success Screen</description>
        <name>var_NewProgEngId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_sObj_CoSponsor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_sObj_HHAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Temp sObject for holding temp variables for creating multiple Contacts belonging to the same household.</description>
        <name>var_sObj_HHContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Record variable for creating the Principle Applicant&apos;s Contact record.</description>
        <name>var_sObj_PAContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_sObj_ProgramEngagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ProgramEngagement__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_RelationshipToPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>npe4__Relationship__c</objectType>
    </variables>
</Flow>
